.chart {
    -fx-padding: 15 25 15 15;
    -fx-legend-visible: true;
}
.chart-plot-background {
    -fx-background-color: white;
    -fx-background-size: cover, auto;
    -fx-background-repeat: no-repeat, repeat;
    -fx-background-position: 0% 0%, 0% 100%;
    -fx-border-color: transparent transparent transparent transparent;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.axis {
    -fx-tick-mark-visible: true;
    -fx-minor-tick-visible: true;
    -fx-tick-length: 3;
    -fx-minor-tick-length: 2;
    -fx-border-color: black;
}
.axis:bottom {
    -fx-border-color: transparent transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent transparent transparent transparent;
}
.axis Text{
    -fx-fill: black;
}
.tick-mark {
    -fx-font-size: 10px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1 );
}

.chart-series-line {    
    -fx-effect: null;
}
 
.default-color0.chart-series-line { 
    -fx-stroke: rgba(0,0,0,0.8);
    -fx-stroke-width: 1.5px;
}

.default-color1.chart-series-line { 
    -fx-stroke-width: 2.0px;
}
 
.default-color0.chart-line-symbol { 
    -fx-background-color: rgba(0,0,0,0.8), white; 
    -fx-background-radius: 3.0px;
    -fx-padding: 3.0px;

}
.default-color1.chart-line-symbol { 
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}


